body {
  line-height: 1.5;
  text-align: center;
  background: #EEF5DD;
  font-family: 'Open Sans', sans-serif
}

#contact {
  background-color: #111;
  color: #EEF5DD;
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center;
}

#projectImg {
    height: 20vw;
  width: 30vw;
  margin-top: 20px;
  margin-left: 20px;
  border: 3px solid #564154;
  transition: .5s;
}

/* img hover effect */
#projectImg::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #FF6542;
  transition: .5s;
  transform: scale(.9);
  z-index: -1;
}

#projectImg:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 25px #FF6542;
}

#projectImg:hover {
  color: #FF6542;
  box-shadow: 0 0 30px #FF6542;
  text-shadow: 0 0 30px #FF6542;
}
/* hover end */

#graduation {
  width: 5vw;
}

#github {
  width: 4vw;
}

#email {
  width: 4vw;
}

#image{
  width: 20vw;
}

#logo {
  width: 50px;
  height: 30px
}

.navbar-brand {
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 25px;
}

/* project section */
.projTitles {
  margin-top: 20px;
  margin-bottom: 5px;
}

.projText {
  margin-left: 20px;
}
/* end */

.titles {
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: 'Fredoka One', cursive;
}

.text {
  margin: 10px;
}

header {
  background: #080708;
  background-size: cover;
  min-height: 60vh;
  position: relative;
}

.name {
  z-index: 5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 10vw;
  color: #EEF5DD;
  font-family: 'Fredoka One', cursive;
}

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}